# ===================================================================
# artellapipe-libs-pyblish requirements file
# ===================================================================
pyblish-base>=1.4
pyblish-lite