# ===================================================================
# artellapipe-libs-pyblish requirements file
# ===================================================================
Qt.py
pytest
pytest-cov
coveralls
sphinx
sphinx_rtd_theme
tpDcc-libs-python
tpDcc-core
pyblish-base>=1.4
pyblish-lite